
/*
Palette:

Background: #121212 (charcoal black)
Primary Text: #E0E0E0 (light gray)
Secondary Text: #B0B0B0 (medium gray)
Borders/Dividers: #444444 (dark gray)
Accent: #888888 (soft gray)
*/

body {
background: #121212;
color: #b0b0b0;
font-family: Monaco;
font-size: 16px;
line-height: 1.5;
}

.list-movies-title {
display: flex;
align-items: center;
justify-content: center;
position: relative;
padding: 10px 0;
background: #444444;
color: #e0e0e0;
text-align: center;
font-size: 16pt;
}

.movie-grid {
list-style-type: none;
padding: 0;
margin: 0;
margin-top: 20px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.movie-grid li {
padding: 10px 15px;
text-align: left;
display: flex;
flex: 0 0 21%;
box-sizing: border-box;
}

.movie {
margin: 0 auto;
}

.movie-title,
.movie-info {
font-size: 1em;
text-align: center;
}

.movie-title {
margin-top: 10px;
font-weight: 600;
}

.movie-info {
color: #b0b0b0;
}

.movie-poster {
border: 2px solid #888888;
width: 100%;
height: auto;
}

.ascii-art {
  font-family: monospace;
  font-size:large;
  white-space: pre;
}

.controls {
display: flex;
flex-direction: column;
gap: 5px;
margin-top: 10px;
position: absolute;
right: 20px;
}

.controls button {
background: #888888;
color: #121212;
border: none;
padding: 5px 10px;
margin: 0 5px;
font-size: 1.2em;
cursor: pointer;
border-radius: 4px;
}

.controls button:hover {
background: #e0e0e0;
}

@media (max-width: 800px) {
.ascii-art {
    font-size:medium;
}
}

@media (max-width: 600px) {
.ascii-art {
    font-size:small;
}
}